body {
    background-color: aquamarine;
}

.container {
    display: grid;
    grid-template-areas: "header header" "left right" "footer footer";
}

.header {
    grid-area: header;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

#footer {
    grid-area: footer;
}